<form [formGroup]="certForm">
  <div class="flex items-center">
    <input placeholder="username"
           formControlName="user"
           type="text"
           class="flex-grow px-4 rounded-l-full rounded-r-full text-sm focus:outline-none border-grey-light">
    <input placeholder="duration"
           formControlName="duration"
           type="number"
           class="flex-grow px-4 rounded-l-full rounded-r-full text-sm focus:outline-none border-grey-light">
    <button (click)="createCert()"
      class="bg-blue-600 text-gray-200 px-5 py-2 rounded shadow ml-3">Create</button>
  </div>
</form>
