<div class="px-3 py-4 flex justify-center">
  <button class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
          (click)="logOut()">LogOut</button>
  <app-cert-form></app-cert-form>
  <table  class="w-full text-md bg-white shadow-md rounded mb-4">
    <tbody>
    <tr class="border-b">
      <td class="text-left p-3 px-5"
          *ngFor="let title of certData?.titles">{{title}}</td>
    </tr>
    </tbody>
    <tr *ngFor="let item of certData?.items" class="border-b hover:bg-orange-100 bg-gray-100">
      <td *ngFor="let value of item"  class="p-3 px-5">
        {{value}}
      </td>
      <td class="p-3 px-5 flex justify-end">
        <button type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                click)="downloadCert(item, certData)">Download</button>
        <button type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
           (click)="deleteCert(item, certData)">Delete</button>
      </td>
    </tr>
  </table>
  <table  class="w-full text-md bg-white shadow-md rounded mb-4">
    <tbody>
    <tr class="border-b">
      <td *ngFor="let title of statusData?.titles" class="text-left p-3 px-5">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">{{title}}</span>
      </td>
    </tr>
    </tbody>
    <tr *ngFor="let item of statusData?.items" class="border-b hover:bg-orange-100 bg-gray-100">
      <td *ngFor="let value of item" class="p-3 px-5">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">{{value}}</span>
      </td>
    </tr>
  </table>
</div>
