<div>
  <button (click)="logOut()">LogOut</button>
  <app-cert-form></app-cert-form>
  <table>
    <tbody>
    <tr>
      <td *ngFor="let title of certData?.titles">{{title}}</td>
    </tr>
    </tbody>
    <tr *ngFor="let item of certData?.items">
      <td *ngFor="let value of item">
        {{value}}
      </td>
      <td>
        <button (click)="downloadCert(item, certData)">download</button>
      </td>
    </tr>
  </table>
  <table>
    <tbody>
    <tr>
      <td *ngFor="let title of statusData?.titles">{{title}}</td>
    </tr>
    </tbody>
    <tr *ngFor="let item of statusData?.items">
      <td *ngFor="let value of item">
        {{value}}
      </td>
    </tr>
  </table>
</div>
